<?xml version="1.0" encoding="UTF-8"?>


<configuration>

    <property name="DEV_HOME" value="c:/logs"/>

    <appender name="FILE-DEBUG-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/debug.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="FILE-ERROR-AUDIT"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${DEV_HOME}/error.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${DEV_HOME}/archived/error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy
                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>10MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
        </rollingPolicy>

    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %black(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %yellow(%C{1.}): %msg%n%throwable
            </Pattern>
        </layout>
    </appender>

    <logger name="uz.md.trello" level="debug">
        <appender-ref ref="FILE-DEBUG-AUDIT"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="uz.md.trello"  level="error">
        <appender-ref ref="FILE-ERROR-AUDIT"/>
    </logger>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>


<!--        <Configuration>-->

<!--            <Appender>-->
<!--                <Console name="Console" target="SYSTEM_OUT">-->
<!--                    <PatternLayout-->
<!--                            pattern="%style{%d{ISO8601}}{black} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow}: %msg%n%throwable"/>-->
<!--                </Console>-->

<!--                <RollingFile name="RollingFile"-->
<!--                             fileName="./logs/spring-boot-logger-info-log4j2.log"-->
<!--                             filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">-->

<!--                    <PatternLayout>-->
<!--                        <pattern>%d %p %C{1.} [%t] %m%n</pattern>-->
<!--                    </PatternLayout>-->
<!--                    <Policies>-->
<!--                        <OnStartupTriggeringPolicy/>-->
<!--                        <SizeBasedTriggeringPolicy-->
<!--                                size="10 MB"/>-->
<!--                        <TimeBasedTriggeringPolicy/>-->
<!--                    </Policies>-->
<!--                </RollingFile>-->

<!--                &lt;!&ndash;        <RollingFile name="RollingErrorFile"&ndash;&gt;-->
<!--                &lt;!&ndash;                     fileName="./logs/spring-boot-logger-error-log4j2.log"&ndash;&gt;-->
<!--                &lt;!&ndash;                     filePattern="./logs/$${date:yyyy-MM}/spring-boot-logger-log4j2-%d{-dd-MMMM-yyyy}-%i.log.gz">&ndash;&gt;-->

<!--                &lt;!&ndash;            <PatternLayout>&ndash;&gt;-->
<!--                &lt;!&ndash;                <pattern>%d %p %C{1.} [%t] %m%n</pattern>&ndash;&gt;-->
<!--                &lt;!&ndash;            </PatternLayout>&ndash;&gt;-->
<!--                &lt;!&ndash;            <Policies>&ndash;&gt;-->
<!--                &lt;!&ndash;                <OnStartupTriggeringPolicy/>&ndash;&gt;-->
<!--                &lt;!&ndash;                <SizeBasedTriggeringPolicy&ndash;&gt;-->
<!--                &lt;!&ndash;                        size="10 MB"/>&ndash;&gt;-->
<!--                &lt;!&ndash;                <TimeBasedTriggeringPolicy/>&ndash;&gt;-->
<!--                &lt;!&ndash;            </Policies>&ndash;&gt;-->
<!--                &lt;!&ndash;        </RollingFile>&ndash;&gt;-->

<!--                <Loggers>-->

<!--                    <Root level="info">-->
<!--                        <AppenderRef ref="Console"/>-->
<!--                        <AppenderRef ref="RollingFile"/>-->
<!--                    </Root>-->

<!--                    <Logger name="uz.md.trello.services" level="info">-->
<!--                        <AppenderRef ref="Console"/>-->
<!--                        <AppenderRef ref="RollingFile"/>-->
<!--                    </Logger>-->

<!--                    &lt;!&ndash;            <Logger name="uz.md.trello.services" level="error">&ndash;&gt;-->
<!--                    &lt;!&ndash;                <AppenderRef ref="RollingErrorFile"/>&ndash;&gt;-->
<!--                    &lt;!&ndash;            </Logger>&ndash;&gt;-->

<!--                </Loggers>-->

<!--            </Appender>-->

<!--        </Configuration>-->
